@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~/assets/fonts/silka-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(~/assets/fonts/silka-medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(~/assets/fonts/silka-semibold.woff2) format('woff2');
}

@font-face {
  font-family: 'HausIcon';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(~/assets/fonts/hausicon.woff2) format('woff2');
}
